{{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.email) }}
    {{ form_row(form.category) }}
    {{ form_row(form.status) }}

    <button class="btn btn-success">Soumettre</button>

{{ form_end(form) }}